<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Squawkings" connectionString="Server=servername;Database=databasename;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
</connectionStrings>