@model Squawkings.Models.FooterView
<div id="footer-banner">
	<div>
		<span class="footer-label">Total Squawks:</span>
		<span class="footer-data">@Model.TotalSquawks</span>
	</div>
	<div>
		<span class="footer-label">Total Users:</span> 
		<span class="footer-data">@Model.TotalUsers</span>
	</div>
</div>
