@model Squawkings.Models.FooterView
<div id="footer-banner">
    <div class="container">
        <ul>
            <li>
                Total Squawks @Model.TotalSquawks
            </li>
            <li>
                Total Users @Model.TotalUsers
            </li>
        </ul>
    </div>
</div>
