@model Squawkings.Controllers.SquawkDispsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="container span10">
        <div id="header">
            <div id="global-header-text">
                Global Squawks
            </div>
            <div id="global-header-text-small">
                See everything happening right now
            </div>
        </div>
        <div class="container span10">
            @foreach (var item in Model.SquawkDisps)
            {
                <div class="post-outer rounded span10">
                    <div class="post-inner span10">
                        <div>
                            <div class="outer" style="float: left;">
                                <div class="image span1">
                                    <a href="@Url.Action("Index", new { id=0 })"><img src="../../Content/Images/@(item.AvatarUrl)" alt="View" /></a>
                                </div>
                            </div>
                            <div class="span9" style="float: left;padding-left: 10px;">
                                <div class="name">
                                    @(item.Username)
                                </div>
                                <div class="post-text">
                                    @(item.Content)
                                </div>
                            </div>
                        </div>
                        <div class="clear post-time">
                            @(item.Time)
                        </div>
                    </div>
                </div>  
            }
        </div>
    </div>
</div>
