@using Squawkings.Controllers
@model GlobalViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="header">
        <div id="global-header-text">
            Global Squawks
        </div>
        <div class="global-header-text-small">
            See everything happening right now
        </div>
    </div>

    @using (Html.Form<GlobalInputModel>("")) {
        <div class="squawks-container">
                @Html.Partial("_sqauwks", Model.SquawkDisps)
        </div>
    }
</div>

