@using Squawkings.Controllers
@model GlobalViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	@Html.Partial("_header", Model.HeaderView)

    @using (Html.Form<GlobalInputModel>("")) {
        <div class="squawks-container">
                @Html.Partial("_sqauwks", Model.SquawkDisps)
        </div>
    }
</div>

