@using Squawkings.Models
@model Squawkings.Controllers.SquawkDispsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container">
        <div id="header">
            <div id="global-header-text">
                Global Squawks
           </div>
            <div id="global-header-text-small">
                See everything happening right now
            </div>
        </div>

        @{ Html.BeginForm("logoff", "logon", FormMethod.Get); }
        
        <div class="squawks-container">
              @Html.Partial("_sqauwks", Model.SquawkDisps)
        </div>
      
    </div>

</div>
