@using Squawkings.Controllers
@using Squawkings.Models
@model Squawkings.Controllers.SquawkDispsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container">
        <div id="header">
            <div id="global-header-text">
                My Squawks
           </div>
            <div class="global-header-text-small">
                See everything happening right now
            </div>
        </div>
        
        @using (Html.Form<LogonInputModel>("logoff","logon")) {
            <div class="squawk-post">
                <div class="squawk-post-top">
                    <textarea cols="110" rows="4">This is my first squawk!</textarea>
                </div>
                <div class="squawk-post-bottom">
                    <input id="post-button" type="button" value="Squawk" />
                </div>
            </div>  
         }
        
        <div class="squawks-container">
            @using (Html.Form<GlobalInputModel>("")) {
                <div class="squawks-container">
                        @Html.Partial("_sqauwks", Model.SquawkDisps)
                </div>
            }
        </div>
    </div>

</div>
