@using Squawkings.Controllers
@model Squawkings.Controllers.ProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div class="container">
    <div id="header">
        @Html.Partial("_profile", Model.ProfileDetails)
    </div>
 
    <div class="squawks-container">
        @using (Html.Form<GlobalInputModel>("")) {
            <div class="squawks-container">
                @Html.Partial("_sqauwks", Model.SquawkDisps)
            </div>
        }
    </div>
</div>

