@model Squawkings.Controllers.ProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    
 
<div id="logon-banner">
</div>
<div id="logon-container">
    <div id="logon-dialog">
        <div>
            <h3>Profile Details:</h3>
        </div>
        <div>
            <span class="global-header-text">User: </span>
            <span> @Html.Display(x=>x.Firstname) @Html.Display(x=>x.Lastname) [@Html.Display(x=>x.Username)]</span>
        </div>
        <div>
            <span class="global-header-text">Avatar</span> 
            <span>@Html.Display(x=>x.Avatarurl)</span>
        </div>
        <div>
            <span class="global-header-text">Bio</span> 
            <span>@Html.Display(x=>x.Bio )</span>
        </div>
       
    </div>
</div>        
</body>
</html>
