@using Squawkings.Controllers
@model Squawkings.Controllers.UploadFileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div class="uploadfile-container">
    <div id="uploadfile-header">
        Profile Upload
    </div>
    <div id="uploadfile-header-text">
        Use a gravatar or Upload an image
    </div>

 
    <div id="uploadfile-details">
        
        @using (Html.Form<UploadFileInputModel>("UploadFile", "UploadFile", modifier: x => x.Attr("enctype","multipart/form-data"))) {

			<span class="uploadfile-label">Use Gravatar</span>
            <span>@Html.Input(x=>x.IsGravatar)</span>
			<br/><br/>
            <span class="uploadfile-label">Image</span>
            <span>@Html.Input(x=>x.File)</span>
				
			<br/><br/>
			
			@Html.Submit("Save").AddClass("btn btn-primary")
		
			<a class="btn" href="@Url.Action("Cancel", new { userName = User.Identity.GetName() })">Cancel</a>
		}

    </div>
</div>

