@using Squawkings.Controllers
@model Squawkings.Controllers.UploadFileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<div class="container">
    <div id="header">
        <h1>Set your Avatar</h1>
    </div>

 
    <div class="uploadfile-container">
        
        @using (Html.Form<UploadFileInputModel>("UploadFile", "UploadFile", modifier: x => x.Attr("enctype","multipart/form-data"))) {
            <div>
				<span>Use Gravatar</span>
                <span>@Html.Input(x=>x.IsGravatar)</span>
				<br/><br/>
                <span>Upload File</span>
                <span>@Html.Input(x=>x.File)</span>
				
				<br/><br/>
                <div>@Html.Submit("Update Changes")</div>
            </div>
        }
    </div>
</div>

