
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Robs Styles 
-----------------------------------------------------------*/
body {
    background: url("images/background.png");
    padding: 0;
    font-family: "Helvetica Neue", Arial; 
    font-size: 12px;
    line-height: 18px;
}
.container
{
	margin: 0 auto;
}
.post-outer {
    background-color: white;
    color: #333;
    text-align: left;
    border: 1px solid #D4D4D4;
    min-height:100px;
    height:auto !important;
    height:100px; 
}
.rounded {
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.outer {
    width: 57px;
    height: 57px;
    -webkit-box-shadow: 0px 0px 10px #4d4d4d;
    -moz-box-shadow: 0px 0px 10px #4d4d4d;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    overflow: hidden;
}
.image {
    padding: 0;
     -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    width: 57px;
    height: 57px;
    overflow: hidden;
}
.post-inner {
    padding: 15px 0 15px 10px;
}
.name {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
}
.post-text {
    color: #333;
}
.post-time {
    padding-top: 15px;
    color: #A2A2A2;
}
#header {
    height: 100px;
}
#global-header-text {
    color:#555; 
    font-size: 50px;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    padding-top: 25px;
}
#global-header-text-small {
    padding: 20px 0 0 5px;
    font-size: 13px;
    color: #222;
}
.clear {
    clear: both;
}
.float-left{
    float: left;
}
.span12 {
    width: 960px;
}
.span11 {
    width: 880px;
}
.span1, .span2 , .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    margin: 0px auto;
}
.span10 {
    width: 800px;
}
.span9 {
    width: 720px;
}
.span8 {
    width: 640px;
}
.span7 {
    width: 560px;
}
.span6 {
    width: 480px;
}
.span5 {
    width: 400px;
}
.span4 {
    width: 320px;
}
.span3 {
    width: 240px;
}
.span2 {
    width: 160px;
}
.span1 {
    width: 80px;
}
